.grant-footer {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-block: 28px;

	& &__primary-text {
		font-size: 1.6em;
		max-width: 30ch;
		margin: 0;
	}

	&__logo {
		width: 165px;
		object-fit: contain;
	}

	@media screen and (max-width: 782px) {
		flex-direction: column;
	}
}

