.activity-item {
	display: flex;
	gap: 20px;
	margin-bottom: 1em;

	&__avatar {
		flex-shrink: 0;

		img {
			width: 70px;
			aspect-ratio: 1;
			border-radius: 50%;
		}
	}

	&__header {
		margin-bottom: 12px;
	}

	blockquote.activity-item__preview {
		background-color: transparent;
		margin: 0;
		padding: 3px 0 3px 10px;
		border-left: 2px solid #eaeaea;
	}
}
